
.img-center {
    display: flex;
    justify-content: center;
}

.result {
    height: 1fr;
    width: 1fr;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 600;
    color: rgb(240, 135, 14);
}